.divPrincipal{
    text-align: center;
}

.add-product-btn {
    background-color: #ff5722; 
    color: #fff; 
    font-size: 16px; 
    font-weight: bold; 
    padding: 12px 24px; 
    border: none; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.3s; 
    margin: 15px;
  }
  
  .add-product-btn:hover {
    background-color: #e64a19; 
    transform: translateY(-2px); 
  }
  
  .add-product-btn:active {
    background-color: #d84315; 
    transform: translateY(0); 
  }

  

  