body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: #f0f0f0; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333; 
}

.centralizarCard{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.h1NotFound {
    text-align: center;
}